

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #A60311;
}

.input-validation-error {
    border: 2px solid #A60311;
}

header.masthead {
    text-align: center;
    color: blue;
    background-image: url("Imgs/ewplchldr.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
        }

        header.masthead .intro-text .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
        }

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
        }

        header.masthead .intro-text .intro-heading {
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 50px;
        }
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bg {
    background-color: #262626;
    color: #D9D9D9;
}

/*sablonkartya*/

.cardSablon { 
    margin-top:20px;
    margin-bottom:20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #262626;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    position: relative; 
    width: auto;
    height: auto;
    background: #000;
}

    .cardSablon .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .cardSablon .image img {
            width: 100%;
            transition: .5s;
        }

    .cardSablon:hover .image img {
        opacity: .5;
        transform: translateX(30%); /*100%*/
    }

    .cardSablon .details {
        position: absolute;
        left: 0;
        width: 70%; /*100%*/
        height: 100%;
        background: #A60311;
        transition: .5s;
        transform-origin: left;
        transform: perspective(2000px) rotateY(-90deg);
    }

    .cardSablon:hover .details {
        transform: perspective(2000px) rotateY(0deg);
    }

    .cardSablon .details .center {
        padding: 20px;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

        .cardSablon .details .center h1 {
            margin: 0;
            padding: 0;
            color: #ff3636;
            line-height: 20px;
            font-size: 20px;
            text-transform: uppercase;
        }

            .cardSablon .details .center h1 span {
                font-size: 14px;
                color: #262626;
            }

        .cardSablon .details .center p {
            margin: 10px 0;
            padding: 0;
            color: #262626;
        }

        .cardSablon .details .center ul {
            margin: 10px auto 0;
            padding: 0;
            display: table;
        }

            .cardSablon .details .center ul li {
                list-style: none;
                margin: 0 5px;
                float: left;
            }

                .cardSablon .details .center ul li a {
                    display: block;
                    background: #262626;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    transform: .5s;
                }

                    .cardSablon .details .center ul li a:hover {
                        background: #A60311;
                    }

a:hover {
    color: #A60311;
}


/*bejelntkezesi gomb*/

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link_wrapper {
    position: relative;
}

.aa {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background-color: #262626;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #262626;
    transition: all .35s;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

    .icon svg {
        width: 30px;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        transform: rotate(-45deg);
        fill: #A60311;
        transition: all .35s;
    }

.aa:hover {
    width: 200px;
    border: 3px solid #A60311;
    background: transparent;
    color: #A60311;
}

    .aa:hover + .icon {
        border: 3px solid #A60311;
        right: -25%;
    }