

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #A60311;
}

.input-validation-error {
    border: 2px solid #A60311;
}

header.masthead {
    text-align: center;
    color: blue;
    background-image: url("Imgs/ewplchldr.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
        }

        header.masthead .intro-text .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
        }

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
        }

        header.masthead .intro-text .intro-heading {
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 50px;
        }
}


.bg {
    /*background-color: #262626;*/
    color: #757575;
    margin: 0;
}
/*ertesites*/
.badge-notification {
    position: relative;
    margin-right: 10px;
}

    .badge-notification[data-badge]::after {
        content: attr(data-badge);
        position: absolute;
        top: 0px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 50%;
        background: #A60311;
        color: white;
    }

span.badge-notification {
    margin-right: 24px;
}

    span.badge-notification[data-badge]::after {
        top: -11px;
        right: -24px;
    }

/*sablonkartya*/

.cardSablon {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #262626;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    position: relative;
    width: auto;
    height: auto;
    background: #000;
}

    .cardSablon .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .cardSablon .image img {
            width: 100%;
            transition: .5s;
        }

    .cardSablon:hover .image img {
        opacity: .5;
        transform: translateX(30%); 
    }

    .cardSablon .details {
        position: absolute;
        left: 0;
        width: 70%;
        height: 100%;
        background: linear-gradient(45deg, #D90416, #8C030E, #A60303, #A60303, #8C030E, #D90416);
        transition: .5s;
        transform-origin: left;
        transform: perspective(2000px) rotateY(-90deg);
    }

    .cardSablon:hover .details {
        transform: perspective(2000px) rotateY(0deg);
    }

    .cardSablon .details .center {
        padding: 20px;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

        .cardSablon .details .center h1 {
            margin: 0;
            padding: 0;
            color: #ff3636;
            line-height: 20px;
            font-size: 20px;
            text-transform: uppercase;
        }

            .cardSablon .details .center h1 span {
                font-size: 14px;
                color: #262626;
            }

        .cardSablon .details .center p {
            margin: 10px 0;
            padding: 0;
            color: #262626;
        }

        .cardSablon .details .center ul {
            margin: 10px auto 0;
            padding: 0;
            display: table;
        }

            .cardSablon .details .center ul li {
                list-style: none;
                margin: 0 5px;
                float: left;
            }

                .cardSablon .details .center ul li a {
                    display: block;
                    background: #262626;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    transform: .5s;
                }

                    .cardSablon .details .center ul li a:hover {
                        background: #A60311;
                    }

a:hover {
    color: #A60311;
}


/*bejelntkezesi gomb*/

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link_wrapper {
    position: relative;
}

.aa {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    text-align: center;
    color: #757575;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid white;
    transition: all .35s;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

    .icon svg {
        width: 30px;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        transform: rotate(-45deg);
        fill: #A60311;
        transition: all .35s;
    }

.aa:hover {
    width: 200px;
    border: 3px solid #A60311;
    background: transparent;
    color: #A60311;
}

    .aa:hover + .icon {
        border: 3px solid #A60311;
        right: -25%;
    }



/*navbar*/



.underline {
    color: #A0A0A0;
    display: inline-block;
    position: relative;
}

    .underline:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #A60311;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0%;
    }

    .underline:hover:after {
        width: 100%;
        left: 0;
    }

.Opened {
    color: #A60311;
}



/*textbox*/

:focus {
    outline: none;
}


input[type="text"] {
    font: 15px/24px 'Muli', sans-serif;
    color: #757575;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:focus {
    outline: none;
}



input[type="text"] {
    background: rgba(0, 0, 0, 0);
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #757575;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}


input[type="password"] {
    font: 15px/24px 'Muli', sans-serif;
    color: #757575;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}


input[type="password"] {
    background: rgba(0, 0, 0, 0);
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #757575;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:focus {
    outline: none;
}


.effect-2 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

    .effect-2 ~ .focus-border {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #A60311;
        transition: 0.4s;
    }

    .effect-2:focus ~ .focus-border {
        width: 88.1%;
        transition: 0.4s;
        left: 15px;
    }

input[type="email"] {
    background: rgba(0, 0, 0, 0);
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #757575;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

input[type="email"] {
    font: 15px/24px 'Muli', sans-serif;
    color: #757575;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}



/*parallax*/



.webmadewell {
    background-color: white;
}



.sample-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url('Img/backg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

    .sample-header::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: MidnightBlue;
        opacity: 0.3;
    }

.sample-header-section {
    position: relative;
    padding: 15% 0 10%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

.sample-section-wrap {
    position: relative;
    background-color: white;
}

.sample-section {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}






/*buttonsend*/



.btnsend {
    color: #757575;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    background-color: transparent;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

@media (min-width: 600px) {
    .btnsend {
        margin: 0 1em 2em;
    }
}

.btnsend:hover {
    text-decoration: none;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.btnsend-2 {
    letter-spacing: 0;
}

    .btnsend-2:hover, .btnsend-2:active {
        letter-spacing: 5px;
        color: #A60311;
    }

    .btnsend-2:after, .btnsend-2:before {
        backface-visibility: hidden;
        border: 1px solid rgba(255, 255, 255, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
    }

    .btnsend-2:hover:after, .btnsend-2:hover:before {
        backface-visibility: hidden;
        border-color: #A60311;
        transition: all 350ms ease-in-out;
        width: 70%;
    }

    .btnsend-2:hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
    }


/* navbar shadow*/
.nav-shadow {
    box-shadow: 0 10px 30px rgba(0,0,0,0.01),0 6px 10px rgba(0,0,0,0.2);
}

/*ertekbutton*/

.btnertek {
    color: #757575;
    cursor: pointer;
    font-size: 30px;
    font-weight: 200;
    line-height: 75px;
    margin: 0 0 2em;
    max-width: 320px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    background-color: transparent;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

@media (min-width: 800px) {
    .btnertek {
        margin: 0 1em 2em;
    }
}

.btnertek:hover {
    text-decoration: none;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.btnertek-2 {
    letter-spacing: 0;
}

    .btnertek-2:hover, .btnertek-2:active {
        letter-spacing: 5px;
        color: #A60311;
    }

    .btnertek-2:after, .btnertek-2:before {
        backface-visibility: hidden;
        border: 1px solid rgba(255, 255, 255, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
    }

    .btnertek-2:hover:after, .btnertek-2:hover:before {
        backface-visibility: hidden;
        border-color: #A60311;
        transition: all 350ms ease-in-out;
        width: 70%;
    }

    .btnertek-2:hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
    }

/*text*/

.home-title span {
    
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: #757575;
    cursor: pointer;
    font-size: 40px;
    font-weight: 200;
    line-height: 75px;
    margin: 0 0 2em;
    max-width: 320px;
    position: relative;
    text-decoration: none;
    
    width: 100%;
    border: 0;
    background-color: transparent;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
} 

    .home-title span::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        animation: a-ltr-before 1s linear forwards;
        transform: translateX(0);
    }

    .home-title span:nth-of-type(1)::before,
    .home-title span:nth-of-type(1)::after {
        animation-delay: 0.1s;
    }

    .home-title span:nth-of-type(2)::before,
    .home-title span:nth-of-type(2)::after {
        animation-delay: 0.1s;
    }

@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(101%)
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100%)
    }
}



.cardborder {
    box-shadow: 0 10px 30px rgba(0,0,0,0.01),0 6px 10px rgba(0,0,0,0.2);
}


