
@{
    ViewBag.Title = "Index";
}
  <div class="row h-100 w-100 align-items-center justify-content-center ">
        <h1 class="home-title" style="position:fixed;top:50%;bottom:50%;">
            <span>SIKERESEN ELKÜLDTED!</span>
        </h1> 
</div>