@model Szakdolg.Models.KonzulModel
@{
    ViewBag.Title = "Konzultáció kérése:";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center align-items-center">
    <div class="card">
        <div class="col-md-offset-12 col-md-12 text-center">
            <br />
            <h1 class="home-title">
                <span>Értékelj!</span>
            </h1>
        </div>
        <div class="card-body">

            @using (Html.BeginForm("Mentes", "Konzul", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-md-12">

                        <input name="Konzul.Nev" class="effect-2" type="text" id="Konzul_Nev" placeholder="Név">
                        <span class="focus-border"></span><br />

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">

                        <input name="Konzul.Ecim" class="effect-2" type="email" id="Konzul_Ecim" placeholder="E-mail">
                        <span class="focus-border"></span><br />

                    </div>
                </div>

                <div class="form-group ">

                    <label for="FeedBack_Velemeny" style="margin-bottom: 10px; margin-left:15px">Szöveg:</label>
                    <textarea class="form-control" cols="20" id="Konzul_Szoveg" name="Konzul.Szoveg" style="height:100px; width:100%; margin-left:5px; "></textarea>
                    @Html.ValidationMessageFor(m => m.Konzul.Szoveg)
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <br />

                @Html.HiddenFor(m => m.Konzul.Id)
                @Html.AntiForgeryToken()
                <button type="submit" class="btnsend btnsend-2" style="margin-left:32px;">Küldés</button>
            }

        </div>
    </div>
</div>