@model Szakdolg.Models.IndexViewModel

@{
    ViewBag.Title = "Jelszó megváltoztatása";

}
<br />
    <div class="col-md-offset-12 col-md-12 text-center">
        <h1 class="home-title">
            <span>Jelszó megváltoztatása</span>
        </h1>
    </div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>Jelszó:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Megváltoztatás", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
