@model IEnumerable<Szakdolg.Models.Sablonok>
@{
    ViewBag.Title = "Sablonok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container-fluid">
    <div class="row">
        @foreach (var f in Model)
        {
            @Html.Partial("_SablonCards", f)
        }

    </div>
</div>