@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">

        <div class="row">
            <div class="col-md-2">
                <div class="icon">
                    <img src="/Content/Img/arni.png" class="img-circle" width="300" height="300">
                </div>
            </div>
            <div class="col-md-8">
                <h1>Dudás Arnold</h1>

                <h2>Szia!</h2>

                <p>
                    valami valamivalamivala mivalamivalamivala mivalamiv alamivalamivalamivala mivalamivala mivalamival amival amivalamiv alamivalamival
                    amival amivalamiva lamivalamivalam i valamivala mivalamivalami valamivalamival amivalamival amivalamivalamivalami valamivvalamiv
                    valamival amivalamiv alamivalamiva lamivalamival
            </div>
        </div>

        <br />
        <br />

        <div class="col-md-1">
            <div class="container">
                <img src="/Content/Img/home.png" width="30" height="30">
            </div>
            <address>
                Heves, Kál<br />
            </address>
        </div>

        <div class="col-md-1">
            <div class="container">
                <img src="/Content/Img/tel.png" width="20" height="30">
            </div>
            <address>
                +3630683144<br />
            </address>
        </div>

        <div class="col-md-1">
            <div class="container">
                <img src="/Content/Img/mail.png" width="30" height="20">
            </div>
            <address>
                arnie@gmail.com<br />
            </address>
        </div>


        <br />
        <br />
    </div>
    <div class="col-md-2">
        <p><a href="https://www.facebook.com/arnie.dudas" class="btn btn-primary btn-lg">Facebook &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a href="https://www.instagram.com/fallen.tear/" class="btn btn-primary btn-lg">Instagram &raquo;</a></p>
    </div>
</div>
