

<!-- ALL CREDIT FOR THE SCROLLING TEXT GOES TO
     Craig Buckler
     http://www.sitepoint.com/css3-starwars-scrolling-text/

Blame me for the music via embedded video bit
-->

<div style="overflow:hidden; position:absolute; left:0; top:0; width:50px; height:25px;">
    <div style="margin-top:-290px;">
        <object width="420" height="315">
            <param name="movie" value="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed src="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
    </div>
</div>

<p id="start">Egyszer mikor ez történt egy messzi messzi galaxisban...&hellip;</p>

<h1>HARAKÁLY ZOLTÁN<sub>a mocskos buzi..</sub></h1>

<div id="titles">
    <div id="titlecontent">

        <p class="center">
            IV.rész<br />
            Új remény hogy heteró lesz
        </p>
        <br />
        <br />

        <p>Becsaj Ádám és társai próbálták megtériteni de nem sikerült.</p>

        <p>Zoltán súlyos és hívő népe nagy csapást mért Magyarországra, és a magyar veteránok név szerint: Becsaj Ádám. Tallsó Dávid, Soltész Ármin, Hirbek András összeálltak hogy legyőzzék a túlsúlyban és buzulásban gazdag gonosztevőt.</p>

        <p>Fiatal munkanélküliek csoportja minden lehetőséget megragadott hogy megnyerjek ezt a nehéz harci állapotot.</p>

        <p>A buzgóbuzi beleugrott az Adriai tengerbe és emiatt tsunamit uszított, amiben meglelhető meleg spermiumjainak százezrei.</p>

        <p>Felmerült magunkban az a kérdés: HOGY A GECIBE GYŐZZÜK LE A SPERMAHADAT?.</p>

        <p>A válasz könnyű volt. A kavébarna cigány elment olyan gyorsan mint Flash Amerikába és ellopta a Hiroshima-i atomba tervrajzát.</p>

        <p>Gyorsabban visszaért Magyarországra mint amilyen gyorsan elment, mivel otthonhagyta a cigijét.</p>

        <p>A kreatív és mindenre képes zsidó összeállt a dagadttal és nekiálltak megépíteni az atombombát,gyorsan is kész lett mivel Andris nagy mennyiségben tárol otthon szigszallagot .</p>

        <p>Minden készen állt a Magyar veteránoknál. Így már csak az atombombát kellett kilőni.</p>

        <p class="center">EL IS KÉSZÜLT MINDEN!</p>

        <p>A hatalmas punci alakú csúzliba belehelyezték az atombombát, reménykedve hogy a hatalmas hő megállítja az ellenséges Román ivadékokat.Ám jött a nagy bökkenő....</p>

        <p class="center">A GECIK TÚL DAGADTAK VOLTAK!</p>

        <p>Nem égtek el ezért még jobban bebuzultak.És ekkor jött a hatalmas csapás, Magyarországot elárasztotta a parasztgeci. Mindenki tudta hogy Trianon be fog következni.</p>

        <p>Hőseink a harcot elvesztették, de a haborút nem. Reménykedve várják Zoltán halálat...De sajnos a hája örökké táplálni fogja.</p>
    </div>
</div>
