@model IEnumerable<Szakdolg.Models.Munka>
@{
    ViewBag.Title = "Munkaim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="col-md-offset-12 col-md-12 text-center">
    <h1 class="home-title">
        <span>MUNKÁIM</span>
    </h1>
</div>
<div class="row">
    @foreach (var f in Model)
    {
        @Html.Partial("_MunkaCards", f)
    }

</div>

