@model IEnumerable<Szakdolg.Models.Munka>
@{
    ViewBag.Title = "Munkaim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container-fluid">
    <div class="row">
        @foreach (var f in Model)
        {
            @Html.Partial("_MunkaCards", f)
        }

    </div>
</div>