
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">




<div class="sample-header">
    <div class="sample-header-section text-center">


    </div>
</div>
<div class="sample-section-wrap">
    <div class="sample-section">
        <div class="container">
            <div class="card cardborder" style="border-bottom-width:20px; border-left-width:50px; border-right-width:50px; border-bottom-color:#fff; border-left-color:#fff; border-right-color:#fff;">
                <div class="card-body">


                    <div class="row justify-content-center align-items-center ">

                        <img src="~/Content/Img/prof.png " class=" rounded-circle" alt="Cinque Terre" width="304" height="236">
                    </div>
                </div>
               
                <div class="row justify-content-center align-items-center ">
                    <h2>
                        Dudás Arnold
                    </h2>
                </div>
                <br />
                <p>
                    A rajzolás iránti vágy egész eddigi életemben meghatározó volt.
                </p>
                <p>
                    A rajzolás iránti vágy egész eddigi életemben meghatározó volt. A rajzolás iránti vágy egész eddigi életemben meghatározó volt. A rajzolás iránti vágy egész eddigi életemben meghatározó volt. A rajzolás iránti vágy egész eddigi életemben meghatározó volt.
                </p>
                <p>
                    A rajzolás iránti vágy egész eddigi életemben meghatározó volt. A rajzolás iránti vágy egész eddigi életemben meghatározó volt.
                </p>
                <p> A rajzolás iránti vágy egész eddigi életemben meghatározó volt.</p>
                <br />
                <div class="pad50"></div>
                <div class="card-group">
                    <div class="card">
                        <div class="row justify-content-center align-items-center">
                            <a href="https://www.facebook.com/arnie.dudas" target="_blank" class="button facebook"><span><i class="fab fa-facebook-square" style="margin-left:10px;" aria-hidden="true"></i></span><p>Facebook</p></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center align-items-center">
                            <a href="https://www.instagram.com/fallen.tear/" target="_blank" class="button instagram"><span><i class="fab fa-instagram-square" style="margin-left:10px;" aria-hidden="true"></i></span><p>Instagram</p></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function parallax_height() {
        var scroll_top = $(this).scrollTop();
        var sample_section_top = $(".sample-section").offset().top;
        var header_height = $(".sample-header-section").outerHeight();
        $(".sample-section").css({ "margin-top": header_height });
        $(".sample-header").css({ height: header_height - scroll_top });
    }
    parallax_height();
    $(window).scroll(function () {
        parallax_height();
    });
    $(window).resize(function () {
        parallax_height();
    });
</script>

